body {
  text-align: center;
  margin: auto;
  font-weight: bolder;
  color: white;
  background-color: royalblue;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
}

p {
  letter-spacing: 2px;
}

.description {
  max-width: 600px;
  margin: auto;
  color: chocolate;
}
